* {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

.container {
  width: 75%;
  height: 50vh;
  margin: 100px auto;
  background-color: #2c3e50cb;
  padding-top: 100px;
}

.user,
.pssd {
  width: 75%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 25px;
  padding: 5px 10px;
}
.user label,
.pssd label {
  display: block;
  font-weight: 400;
  font-size: 180%;
}
input {
  border: 0;
  border-bottom: 2px solid #f39c12;
  background-color: transparent;
  color: #fff;
  opacity: 0.65;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 80%;
  height: 50px;
  padding: 5px 15px;
  font-size: 120%;
  transition: 0.3s;
  /* resize: vertical; */
}
input:focus {
  border-bottom: 5px solid orange;
  outline: none;
  /* width: 50%; */
}
.pssd {
  position: relative;
}
.eye-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 60px;
  right: 125px;
}
.eye {
  width: 100%;
  font-size: 150%;
  cursor: pointer;
  float: left;
  /* border:1px solid #000 */
}
